%p
  %h1
    Welcome, #{@user.name} 
  %h4
    #{@user.email if @user.email}
%p
.accordion-group.FamilyList
  .accordion-heading
  %a.accordion-toggle

  %h3 Family Members(#{@user.family_members.count})
  %table.table.table-striped
    %tr
      %th ID
      %th Name
      %th Email
      %th Actions
    %tr
      =render @user.family_members 
%p
.AddFamilyMember
  =render 'shared/family_member_form'

.InvestmentsList
  %h3 Investments(#{@user.investments.count})
  %table.table.table-striped
    %tr
      %th ID
      %th Institution Name
      %th Account Number
      %th First Owner
      %th Second Owner
      %th Nominee
      %th Notes
      %th Actions
    %tr
      =render @user.investments 

%p
.AddInvestment
  =render 'shared/investment_form'

.AddressesList
  %h3 Addresses(#{@user.addresses.count})
  %table.table.table-striped
    %tr
      %th ID
      %th First Line
      %th Second Line
      %th City
      %th State
      %th Country
      %th Pin
      %th Actions
    %tr
      =render @user.addresses 
%p
.AddAddress
  =render 'shared/address_form'

