%p
  %h1
    Welcome, #{@user.name} 
  %h4
    #{@user.email if @user.email}
%p
.FamilyList
  %h3 
    / Family Members(#{@user.family_members.count}) 
    Family Members
    %a.btn.btn-primary.pull-right{'href' => '#AddFamilyMember', 'data-toggle' => 'modal'}
      Add Family Members
  %p
  #AddFamilyMember.modal.hide
    =render 'shared/family_member_form'

  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th ID
      %th Name
      %th Email
      %th Notify
      %th Actions
    %tr
      =render @user.family_members 


.InvestmentsList
  %h3 
    / Investments(#{@user.investments.count})
    Investments
    %a.btn.btn-primary.pull-right{'href' => '#AddInvestment', 'data-toggle' => 'modal'}
      Add Investments
    %p
    #AddInvestment.modal.hide
      =render 'shared/investment_form'
  %p
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th ID
      %th Institution Name
      %th Account Number
      %th First Owner
      %th Second Owner
      %th Nominee
      %th Notes
      %th Actions
    %tr
      =render @user.investments 



.AddressesList
  %h3 
    / Addresses(#{@user.addresses.count})
    Addresses
    %a.btn.btn-primary.pull-right{'href' => '#AddAddress', 'data-toggle' => 'modal'}
      Add Address
  %p
  #AddAddress.modal.hide
    =render 'shared/address_form'  
  %p
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th ID
      %th First Line
      %th Second Line
      %th City
      %th State
      %th Country
      %th Pin
      %th Actions
    %tr
      =render @user.addresses 

