= form_for(@investment) do |f|
  .field.form-inline
    = f.text_field :institution_name, placeholder: "Insitution Name..."
    = f.text_field :account_number, placeholder: "Account Number..."
    = f.text_field :first_owner_name, placeholder: "First Owner Name..."
    = f.text_field :second_owner_name, placeholder: "Second Owner Name..."
    = f.text_field :nominee, placeholder: "Nomnee..."
    = f.text_field :notes, placeholder: "Notes..."

    = f.submit "Add", class: "btn btn-small btn-primary"