%h1 Welcome to Fin Data!!
- if user_signed_in?
	= link_to "Edit My Financial Data", current_user
- else
	= link_to('Please Sign in to edit your Financial Data', new_user_session_path)
	%br/
	= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
	%br/
	= link_to "Sign in with google", user_omniauth_authorize_path(:google)


/ %h3 Home
/ - @users.each do |user|
/   %p User: #{link_to user.name, user}
